

<section>
  <div class="gap2 gray-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row merged20" id="page-contents">
            <div class="user-profile">
              <figure>
                <div class="edit-pp">
                  <label class="fileContainer">
                    <i class="fa fa-camera"></i>
                    <input type="file">
                  </label>
                </div>
                <img src="assets/images/resources/profile-image.jpg" alt="">
                <ul class="profile-controls">
                  <li><a href="#" title="Add friend" data-toggle="tooltip"><i class="fa fa-user-plus"></i></a></li>
                  <li><a href="#" title="Follow" data-toggle="tooltip"><i class="fa fa-star"></i></a></li>
                  <li><a class="send-mesg" href="#" title="Send Message" data-toggle="tooltip"><i
                    class="fa fa-comment"></i></a></li>
                  <li>
                    <div class="edit-seting" title="Edit Profile image"><i class="fa fa-sliders"></i>
                      <ul class="more-dropdown">
                        <li><a href="setting.html" title="">Update Profile Photo</a></li>
                        <li><a href="setting.html" title="">Update Header Photo</a></li>
                        <li><a href="setting.html" title="">Account Settings</a></li>
                        <li><a href="support-and-help.html" title="">Find Support</a></li>
                        <li><a class="bad-report" href="#" title="">Report Profile</a></li>
                        <li><a href="#" title="">Block Profile</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
                <ol class="pit-rate">
                  <li class="rated"><i class="fa fa-star"></i></li>
                  <li class="rated"><i class="fa fa-star"></i></li>
                  <li class="rated"><i class="fa fa-star"></i></li>
                  <li class="rated"><i class="fa fa-star"></i></li>
                  <li class=""><i class="fa fa-star"></i></li>
                  <li><span>4.7/5</span></li>
                </ol>
              </figure>

              <div class="profile-section">
                <div class="row">
                  <div class="col-lg-2 col-md-3">
                    <div class="profile-author">
                      <div class="profile-author-thumb">
                        <img alt="author" src="assets/images/resources/author.jpg">
                        <div class="edit-dp">
                          <label class="fileContainer">
                            <i class="fa fa-camera"></i>
                            <input type="file">
                          </label>
                        </div>
                      </div>

                      <div class="author-content">
                        <a class="h4 author-name" href="about.html">{{user.name}}</a>
                        <div class="country">{{user.address}}</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-10 col-md-9">
                    <ul class="profile-menu">
                      <li>
                        <a class="" routerLink="/time-line">Timeline</a>
                      </li>
                      <li>
                        <a class="" [routerLink]="['/about/',Iduser]">About</a>
                      </li>
                      <li>
                        <a class="" routerLink="/friend">Friends</a>
                      </li>
                      <li>
                        <a class="" href="timeline-photos.html">Photos</a>
                      </li>
                      <li>
                        <a class="" href="timeline-videos.html">Videos</a>
                      </li>
                      <li>
                        <div class="more">
                          <i class="fa fa-ellipsis-h"></i>
                          <ul class="more-dropdown">
                            <li>
                              <a href="timeline-groups.html">Profile Groups</a>
                            </li>
                            <li>
                              <a href="statistics.html">Profile Analytics</a>
                            </li>
                          </ul>
                        </div>
                      </li>
                    </ul>
                    <ol class="folw-detail">
                      <li><span>Posts</span>
                        <ins>101</ins>
                      </li>
                      <li><span>Followers</span>
                        <ins>1.3K</ins>
                      </li>
                      <li><span>Following</span>
                        <ins>22</ins>
                      </li>
                    </ol>
                  </div>
                </div>
              </div>
            </div><!-- user profile banner  -->
            <div class="central-meta padding30">
              <div class="row merged20">
                <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let f of myfriend">
                  <div class="friend-block">
                    <div class="more-opotnz">
                      <i class="fa fa-ellipsis-h"></i>
                      <ul>
                        <li><a href="#" title="">Block</a></li>
                        <li><a href="#" title="">UnBlock</a></li>
                        <li><a href="#" title="">Mute Notifications</a></li>
                        <li><a href="#" title="">hide from friend list</a></li>
                      </ul>
                    </div>
                    <figure>
                      <img [src]="f.image">
                    </figure>

                    <div class="frnd-meta">
                      <div class="frnd-name">
                        <a href="#" title="">{{f.name}}</a>
                        <span>Los Angeles, CA</span>
                      </div>
                      <a class="send-mesg" href="#" title="">Message</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="lodmore">
                <button class="btn-view btn-load-more"></button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- content -->




