<section>
  <div class="gap no-gap signin whitish medium-opacity">
    <div class="bg-image" style="background-image:url(assets/images/resources/theme-bg.jpg)"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="big-ad">
            <figure><img src="assets/images/logo2.png" alt=""></figure>
            <h1>Welcome to the Pitnik</h1>
            <p>
              Pitnik is a social network template that can be used to connect people. use this template for multipurpose social activities like job, dating, posting, bloging and much more. Now join & Make Cool Friends around the world !!!
            </p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="we-login-register">
            <div class="form-title">
              <i class="fa fa-key"></i>login
              <span>sign in now and meet the awesome Friends around the world.</span>
            </div>
            <form class="form-login" #f="ngForm" (ngSubmit)="f.form.valid && login()" novalidate>
              <mat-error *ngIf="checkRegister" class="alert alert-primary">Create New Account succsee!</mat-error>
              <mat-form-field appearance="fill">
                <input name="username" [(ngModel)]="form.username" matInput placeholder="User Name"
                       #username="ngModel" minlength="5" maxlength="30" required>
                <mat-icon color="primary" matSuffix> account_circle</mat-icon>
                <mat-error *ngIf="username.hasError('required')"> The username is required</mat-error>
                <mat-error *ngIf="username.hasError('minlength')"> The username must more than 5 character
                </mat-error>
              </mat-form-field>
              <br>

              <!--Password -->
              <mat-form-field appearance="fill">
                <input name="password" [(ngModel)]="form.password" matInput [type]="hide? 'password' : 'text'"
                       placeholder="password" #password="ngModel"
                       minlength="6" maxlength="100" required>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-lable]="'Hide password'"
                        [attr.aria-pressed]="hide">
                  <mat-icon color="primary">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="password.hasError('minlength')">The password must more than 6 character</mat-error>
                <mat-error *ngIf="password.hasError('maxlength')"></mat-error>
              </mat-form-field>
              <br>

              <button mat-stroked-button color="accent" type="submit"> Login
                <mat-icon  color="accent" matSuffix> login</mat-icon>
              </button>

            </form>
            <a class="with-smedia facebook" routerLink="/home" title="" data-ripple=""><i class="fa fa-facebook"></i></a>
            <a class="with-smedia twitter" href="#" title="" data-ripple=""><i class="fa fa-twitter"></i></a>
            <a class="with-smedia instagram" href="#" title="" data-ripple=""><i class="fa fa-instagram"></i></a>
            <a class="with-smedia google" href="#" title="" data-ripple=""><i class="fa fa-google-plus"></i></a>
            <span>don't have an account? <a class="we-account underline" routerLink="/register" title="">register now</a></span>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
