
<div class="theme-layout">
  <section>
    <div class="gap2 gray-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="row merged20" id="page-contents">

              <div class="col-lg-12">
                <div class="central-meta postbox">
                  <span class="create-post">Create post</span>
                  <div class="new-postbox">
                    <figure>
                      <img src="assets/images/resources/admin.jpg" alt="">
                    </figure>
                    <div class="newpst-input">
                      <form method="post">
                        <textarea rows="2" placeholder="Share some what you are thinking?"></textarea>
                      </form>
                    </div>
                    <div class="attachments">
                      <ul>
                        <li>
													<span class="add-loc">
														<i class="fa fa-map-marker"></i>
													</span>
                        </li>
                        <li>
                          <i class="fa fa-music"></i>
                          <label class="fileContainer">
                            <input type="file">
                          </label>
                        </li>
                        <li>
                          <i class="fa fa-image"></i>
                          <label class="fileContainer">
                            <input type="file">
                          </label>
                        </li>
                        <li>
                          <i class="fa fa-video-camera"></i>
                          <label class="fileContainer">
                            <input type="file">
                          </label>
                        </li>
                        <li>
                          <i class="fa fa-camera"></i>
                          <label class="fileContainer">
                            <input type="file">
                          </label>
                        </li>
                        <li class="preview-btn">
                          <button class="post-btn-preview" type="submit" data-ripple="">Preview</button>
                        </li>
                      </ul>
                      <button class="post-btn" type="submit" data-ripple="">Post</button>
                    </div>
                    <div class="add-location-post">
                      <span>Drag map point to selected area</span>
                      <div class="row">

                        <div class="col-lg-6">
                          <label class="control-label">Lat :</label>
                          <input type="text" class="" id="us3-lat" />
                        </div>
                        <div class="col-lg-6">
                          <label>Long :</label>
                          <input type="text" class="" id="us3-lon" />
                        </div>
                      </div>
                      <!-- map -->
                      <div id="us3"></div>
                    </div>
                  </div>
                </div><!-- add post new box -->
                <div class="loadMore">
                  <div class="central-meta item">
                    <div class="user-post">
                      <div class="friend-info">
                        <figure>
                          <img src="assets/images/resources/nearly1.jpg" alt="">
                        </figure>
                        <div class="friend-name">
                          <div class="more">
                            <div class="more-post-optns"><i class="ti-more-alt"></i>
                              <ul>
                                <li><i class="fa fa-pencil-square-o"></i>Edit Post</li>
                                <li><i class="fa fa-trash-o"></i>Delete Post</li>
                                <li class="bad-report"><i class="fa fa-flag"></i>Report Post</li>
                                <li><i class="fa fa-address-card-o"></i>Boost This Post</li>
                                <li><i class="fa fa-clock-o"></i>Schedule Post</li>
                                <li><i class="fa fa-wpexplorer"></i>Select as featured</li>
                                <li><i class="fa fa-bell-slash-o"></i>Turn off Notifications</li>
                              </ul>
                            </div>
                          </div>
                          <ins><a href="time-line.html" title="">Jack Carter</a> Post Album</ins>
                          <span><i class="fa fa-globe"></i> published: September,15 2020 19:PM </span>
                        </div>
                        <div class="post-meta">
                          <p>
                            Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero.
                          </p>
                          <figure>
                            <div class="img-bunch">
                              <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                  <figure>
                                    <a href="#" title="" data-toggle="modal" data-target="#img-comt">
                                      <img src="assets/images/resources/album1.jpg" alt="">
                                    </a>
                                  </figure>
                                  <figure>
                                    <a href="#" title="" data-toggle="modal" data-target="#img-comt">
                                      <img src="assets/images/resources/album2.jpg" alt="">
                                    </a>
                                  </figure>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                  <figure>
                                    <a href="#" title="" data-toggle="modal" data-target="#img-comt">
                                      <img src="assets/images/resources/album6.jpg" alt="">
                                    </a>
                                  </figure>
                                  <figure>
                                    <a href="#" title="" data-toggle="modal" data-target="#img-comt">
                                      <img src="assets/images/resources/album5.jpg" alt="">
                                    </a>
                                  </figure>
                                  <figure>
                                    <a href="#" title="" data-toggle="modal" data-target="#img-comt">
                                      <img src="assets/images/resources/album4.jpg" alt="">
                                    </a>
                                    <div class="more-photos">
                                      <span>+15</span>
                                    </div>
                                  </figure>
                                </div>
                              </div>
                            </div>
                            <ul class="like-dislike">
                              <li><a class="bg-purple" href="#" title="Save to Pin Post"><i class="fa fa-thumb-tack"></i></a></li>
                              <li><a class="bg-blue" href="#" title="Like Post"><i class="ti-thumb-up"></i></a></li>
                              <li><a class="bg-red" href="#" title="dislike Post"><i class="ti-thumb-down"></i></a></li>
                            </ul>
                          </figure>
                          <div class="we-video-info">
                            <ul>
                              <li>
																<span class="views" title="views">
																	<i class="fa fa-eye"></i>
																	<ins>1.2k</ins>
																</span>
                              </li>
                              <li>
                                <div class="likes heart" title="Like/Dislike">❤ <span>2K</span></div>
                              </li>
                              <li>
																<span class="comment" title="Comments">
																	<i class="fa fa-commenting"></i>
																	<ins>52</ins>
																</span>
                              </li>

                              <li>
																<span>
																	<a class="share-pst" href="#" title="Share">
																		<i class="fa fa-share-alt"></i>
																	</a>
																	<ins>20</ins>
																</span>
                              </li>
                            </ul>
                            <div class="users-thumb-list">
                              <a data-toggle="tooltip" title="Anderw" href="#">
                                <img alt="" src="assets/images/resources/userlist-1.jpg">
                              </a>
                              <a data-toggle="tooltip" title="frank" href="#">
                                <img alt="" src="assets/images/resources/userlist-2.jpg">
                              </a>
                              <a data-toggle="tooltip" title="Sara" href="#">
                                <img alt="" src="assets/images/resources/userlist-3.jpg">
                              </a>
                              <a data-toggle="tooltip" title="Amy" href="#">
                                <img alt="" src="assets/images/resources/userlist-4.jpg">
                              </a>
                              <a data-toggle="tooltip" title="Ema" href="#">
                                <img alt="" src="assets/images/resources/userlist-5.jpg">
                              </a>
                              <span><strong>You</strong>, <b>Sarah</b> and <a href="#" title="">24+ more</a> liked</span>
                            </div>
                          </div>
                        </div>
                        <div class="coment-area" style="display: block;">
                          <ul class="we-comet">
                            <li>
                              <div class="comet-avatar">
                                <img src="assets/images/resources/nearly3.jpg" alt="">
                              </div>
                              <div class="we-comment">
                                <h5><a href="time-line.html" title="">Jason borne</a></h5>
                                <p>we are working for the dance and sing songs. this video is very awesome for the youngster. please vote this video and like our channel</p>
                                <div class="inline-itms">
                                  <span>1 year ago</span>
                                  <a class="we-reply" href="#" title="Reply"><i class="fa fa-reply"></i></a>
                                  <a href="#" title=""><i class="fa fa-heart"></i><span>20</span></a>
                                </div>
                              </div>

                            </li>
                            <li>
                              <div class="comet-avatar">
                                <img src="assets/images/resources/comet-4.jpg" alt="">
                              </div>
                              <div class="we-comment">
                                <h5><a href="time-line.html" title="">Sophia</a></h5>
                                <p>we are working for the dance and sing songs. this video is very awesome for the youngster.
                                  <i class="em em-smiley"></i>
                                </p>
                                <div class="inline-itms">
                                  <span>1 year ago</span>
                                  <a class="we-reply" href="#" title="Reply"><i class="fa fa-reply"></i></a>
                                  <a href="#" title=""><i class="fa fa-heart"></i><span>20</span></a>
                                </div>
                              </div>
                            </li>
                            <li>
                              <a href="#" title="" class="showmore underline">more comments+</a>
                            </li>
                            <li class="post-comment">
                              <div class="comet-avatar">
                                <img src="assets/images/resources/nearly1.jpg" alt="">
                              </div>
                              <div class="post-comt-box">
                                <form method="post">
                                  <textarea placeholder="Post your comment"></textarea>
                                  <div class="add-smiles">
                                    <div class="uploadimage">
                                      <i class="fa fa-image"></i>
                                      <label class="fileContainer">
                                        <input type="file">
                                      </label>
                                    </div>
                                    <span class="em em-expressionless" title="add icon"></span>
                                    <div class="smiles-bunch">
                                      <i class="em em---1"></i>
                                      <i class="em em-smiley"></i>
                                      <i class="em em-anguished"></i>
                                      <i class="em em-laughing"></i>
                                      <i class="em em-angry"></i>
                                      <i class="em em-astonished"></i>
                                      <i class="em em-blush"></i>
                                      <i class="em em-disappointed"></i>
                                      <i class="em em-worried"></i>
                                      <i class="em em-kissing_heart"></i>
                                      <i class="em em-rage"></i>
                                      <i class="em em-stuck_out_tongue"></i>
                                    </div>
                                  </div>

                                  <button type="submit"></button>
                                </form>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>

                    </div>
                  </div><!-- album post -->
                </div>
              </div><!-- centerl meta -->

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="side-panel">
  <h4 class="panel-title">General Setting</h4>
  <form method="post">
    <div class="setting-row">
      <span>use night mode</span>
      <input type="checkbox" id="nightmode1"/>
      <label for="nightmode1"  data-off-label="OFF"></label>
    </div>
    <div class="setting-row">
      <span>Notifications</span>
      <input type="checkbox" id="switch22" />
      <label for="switch22"  data-off-label="OFF"></label>
    </div>
    <div class="setting-row">
      <span>Notification sound</span>
      <input type="checkbox" id="switch33" />
      <label for="switch33"  data-off-label="OFF"></label>
    </div>
    <div class="setting-row">
      <span>My profile</span>
      <input type="checkbox" id="switch44" />
      <label for="switch44"  data-off-label="OFF"></label>
    </div>
    <div class="setting-row">
      <span>Show profile</span>
      <input type="checkbox" id="switch55" />
      <label for="switch55"  data-off-label="OFF"></label>
    </div>
  </form>
  <h4 class="panel-title">Account Setting</h4>
  <form method="post">
    <div class="setting-row">
      <span>Sub users</span>
      <input type="checkbox" id="switch66" />
      <label for="switch66"  data-off-label="OFF"></label>
    </div>
    <div class="setting-row">
      <span>personal account</span>
      <input type="checkbox" id="switch77" />
      <label for="switch77"  data-off-label="OFF"></label>
    </div>
    <div class="setting-row">
      <span>Business account</span>
      <input type="checkbox" id="switch88" />
      <label for="switch88"  data-off-label="OFF"></label>
    </div>
    <div class="setting-row">
      <span>Show me online</span>
      <input type="checkbox" id="switch99" />
      <label for="switch99"  data-off-label="OFF"></label>
    </div>
    <div class="setting-row">
      <span>Delete history</span>
      <input type="checkbox" id="switch101" />
      <label for="switch101"  data-off-label="OFF"></label>
    </div>
    <div class="setting-row">
      <span>Expose author name</span>
      <input type="checkbox" id="switch111" />
      <label for="switch111" data-off-label="OFF"></label>
    </div>
  </form>
</div><!-- side panel -->

<div class="popup-wraper2">
  <div class="popup post-sharing">
    <span class="popup-closed"><i class="ti-close"></i></span>
    <div class="popup-meta">
      <div class="popup-head">
        <select data-placeholder="Share to friends..." multiple class="chosen-select multi">
          <option>Share in your feed</option>
          <option>Share in friend feed</option>
          <option>Share in a page</option>
          <option>Share in a group</option>
          <option>Share in message</option>
        </select>
        <div class="post-status">
          <span><i class="fa fa-globe"></i></span>
          <ul>
            <li><a href="#" title=""><i class="fa fa-globe"></i> Post Globaly</a></li>
            <li><a href="#" title=""><i class="fa fa-user"></i> Post Private</a></li>
            <li><a href="#" title=""><i class="fa fa-user-plus"></i> Post Friends</a></li>
          </ul>
        </div>
      </div>
      <div class="postbox">
        <div class="post-comt-box">
          <form method="post">
            <input type="text" placeholder="Search Friends, Pages, Groups, etc....">
            <textarea placeholder="Say something about this..."></textarea>
            <div class="add-smiles">
              <span title="add icon" class="em em-expressionless"></span>
              <div class="smiles-bunch">
                <i class="em em---1"></i>
                <i class="em em-smiley"></i>
                <i class="em em-anguished"></i>
                <i class="em em-laughing"></i>
                <i class="em em-angry"></i>
                <i class="em em-astonished"></i>
                <i class="em em-blush"></i>
                <i class="em em-disappointed"></i>
                <i class="em em-worried"></i>
                <i class="em em-kissing_heart"></i>
                <i class="em em-rage"></i>
                <i class="em em-stuck_out_tongue"></i>
              </div>
            </div>

            <button type="submit"></button>
          </form>
        </div>
        <figure><img src="assets/images/resources/share-post.jpg" alt=""></figure>
        <div class="friend-info">
          <figure>
            <img alt="" src="assets/images/resources/admin.jpg">
          </figure>
          <div class="friend-name">
            <ins><a title="" href="time-line.html">Jack Carter</a> share <a title="" href="#">link</a></ins>
            <span>Yesterday with @Jack Piller and @Emily Stone at the concert of # Rock'n'Rolla in Ontario.</span>
          </div>
        </div>
        <div class="share-to-other">
          <span>Share to other socials</span>
          <ul>
            <li><a class="facebook-color" href="#" title=""><i class="fa fa-facebook-square"></i></a></li>
            <li><a class="twitter-color" href="#" title=""><i class="fa fa-twitter-square"></i></a></li>
            <li><a class="dribble-color" href="#" title=""><i class="fa fa-dribbble"></i></a></li>
            <li><a class="instagram-color" href="#" title=""><i class="fa fa-instagram"></i></a></li>
            <li><a class="pinterest-color" href="#" title=""><i class="fa fa-pinterest-square"></i></a></li>
          </ul>
        </div>
        <div class="copy-email">
          <span>Copy & Email</span>
          <ul>
            <li><a href="#" title="Copy Post Link"><i class="fa fa-link"></i></a></li>
            <li><a href="#" title="Email this Post"><i class="fa fa-envelope"></i></a></li>
          </ul>
        </div>
        <div class="we-video-info">
          <ul>
            <li>
								<span title="" data-toggle="tooltip" class="views" data-original-title="views">
									<i class="fa fa-eye"></i>
									<ins>1.2k</ins>
								</span>
            </li>
            <li>
								<span title="" data-toggle="tooltip" class="views" data-original-title="views">
									<i class="fa fa-share-alt"></i>
									<ins>20k</ins>
								</span>
            </li>
          </ul>
          <button class="main-btn color" data-ripple="">Submit</button>
          <button class="main-btn cancel" data-ripple="">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div><!-- share popup -->

<div class="popup-wraper3">
  <div class="popup">
    <span class="popup-closed"><i class="ti-close"></i></span>
    <div class="popup-meta">
      <div class="popup-head">
        <h5>Report Post</h5>
      </div>
      <div class="Rpt-meta">
        <span>We're sorry something's wrong. How can we help?</span>
        <form method="post" class="c-form">
          <div class="form-radio">
            <div class="radio">
              <label>
                <input type="radio" name="radio" checked="checked"><i class="check-box"></i>It's spam or abuse
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="radio"><i class="check-box"></i>It breaks r/technology's rules
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="radio"><i class="check-box"></i>Not Related
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="radio"><i class="check-box"></i>Other issues
              </label>
            </div>
          </div>
          <div>
            <label>Write about Report</label>
            <textarea placeholder="write someting about Post" rows="2"></textarea>
          </div>
          <div>
            <button data-ripple="" type="submit" class="main-btn">Submit</button>
            <a href="#" data-ripple="" class="main-btn3 cancel">Close</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div><!-- report popup -->

<div class="popup-wraper1">
  <div class="popup direct-mesg">
    <span class="popup-closed"><i class="ti-close"></i></span>
    <div class="popup-meta">
      <div class="popup-head">
        <h5>Send Message</h5>
      </div>
      <div class="send-message">
        <form method="post" class="c-form">
          <input type="text" placeholder="Sophia">
          <textarea placeholder="Write Message"></textarea>
          <button type="submit" class="main-btn">Send</button>
        </form>
        <div class="add-smiles">
          <div class="uploadimage">
            <i class="fa fa-image"></i>
            <label class="fileContainer">
              <input type="file">
            </label>
          </div>
          <span title="add icon" class="em em-expressionless"></span>
          <div class="smiles-bunch">
            <i class="em em---1"></i>
            <i class="em em-smiley"></i>
            <i class="em em-anguished"></i>
            <i class="em em-laughing"></i>
            <i class="em em-angry"></i>
            <i class="em em-astonished"></i>
            <i class="em em-blush"></i>
            <i class="em em-disappointed"></i>
            <i class="em em-worried"></i>
            <i class="em em-kissing_heart"></i>
            <i class="em em-rage"></i>
            <i class="em em-stuck_out_tongue"></i>
          </div>
        </div>

      </div>
    </div>
  </div>
</div><!-- send message popup -->

<div class="modal fade" id="img-comt">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-8">
            <div class="pop-image">
              <div class="pop-item">
                <figure><img src="assets/images/resources/blog-detail.jpg" alt=""></figure>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="user">
              <figure><img src="assets/images/resources/user1.jpg" alt=""></figure>
              <div class="user-information">
                <h4><a href="#" title="">Danile Walker</a></h4>
                <span>2 hours ago</span>
              </div>
              <a href="#" title="Follow" data-ripple="">Follow</a>
            </div>
            <div class="we-video-info">
              <ul>
                <li>
                  <div title="Like/Dislike" class="likes heart">❤ <span>2K</span></div>
                </li>
                <li>
									<span title="Comments" class="comment">
										<i class="fa fa-commenting"></i>
										<ins>52</ins>
									</span>
                </li>

                <li>
									<span>
										<a title="Share" href="#" class="">
											<i class="fa fa-share-alt"></i>
										</a>
										<ins>20</ins>
									</span>
                </li>
              </ul>
              <div class="users-thumb-list">
                <a href="#" title="" data-toggle="tooltip" data-original-title="Anderw">
                  <img src="assets/images/resources/userlist-1.jpg" alt="">
                </a>
                <a href="#" title="" data-toggle="tooltip" data-original-title="frank">
                  <img src="assets/images/resources/userlist-2.jpg" alt="">
                </a>
                <a href="#" title="" data-toggle="tooltip" data-original-title="Sara">
                  <img src="assets/images/resources/userlist-3.jpg" alt="">
                </a>
                <a href="#" title="" data-toggle="tooltip" data-original-title="Amy">
                  <img src="assets/images/resources/userlist-4.jpg" alt="">
                </a>
                <span><strong>You</strong>, <b>Sarah</b> and <a title="" href="#">24+ more</a> liked</span>
              </div>
            </div>
            <div style="display: block;" class="coment-area">
              <ul class="we-comet">
                <li>
                  <div class="comet-avatar">
                    <img alt="" src="assets/images/resources/nearly3.jpg">
                  </div>
                  <div class="we-comment">
                    <h5><a title="" href="time-line.html">Jason borne</a></h5>
                    <p>we are working for the dance and sing songs. this video is very awesome for the youngster. please vote this video and like our channel</p>
                    <div class="inline-itms">
                      <span>1 year ago</span>
                      <a title="Reply" href="#" class="we-reply"><i class="fa fa-reply"></i></a>
                      <a title="" href="#"><i class="fa fa-heart"></i><span>20</span></a>
                    </div>
                  </div>

                </li>
                <li>
                  <div class="comet-avatar">
                    <img alt="" src="assets/images/resources/comet-4.jpg">
                  </div>
                  <div class="we-comment">
                    <h5><a title="" href="time-line.html">Sophia</a></h5>
                    <p>we are working for the dance and sing songs. this video is very awesome for the youngster.
                      <i class="em em-smiley"></i>
                    </p>
                    <div class="inline-itms">
                      <span>1 year ago</span>
                      <a title="Reply" href="#" class="we-reply"><i class="fa fa-reply"></i></a>
                      <a title="" href="#"><i class="fa fa-heart"></i><span>20</span></a>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="comet-avatar">
                    <img alt="" src="assets/images/resources/comet-4.jpg">
                  </div>
                  <div class="we-comment">
                    <h5><a title="" href="time-line.html">Sophia</a></h5>
                    <p>we are working for the dance and sing songs. this video is very awesome for the youngster.
                      <i class="em em-smiley"></i>
                    </p>
                    <div class="inline-itms">
                      <span>1 year ago</span>
                      <a title="Reply" href="#" class="we-reply"><i class="fa fa-reply"></i></a>
                      <a title="" href="#"><i class="fa fa-heart"></i><span>20</span></a>
                    </div>
                  </div>
                </li>
                <li>
                  <a class="showmore underline" title="" href="#">more comments+</a>
                </li>
                <li class="post-comment">
                  <div class="comet-avatar">
                    <img alt="" src="assets/images/resources/nearly1.jpg">
                  </div>
                  <div class="post-comt-box">
                    <form method="post">
                      <textarea placeholder="Post your comment"></textarea>
                      <div class="add-smiles">
                        <div class="uploadimage">
                          <i class="fa fa-image"></i>
                          <label class="fileContainer">
                            <input type="file">
                          </label>
                        </div>
                        <span title="add icon" class="em em-expressionless"></span>
                        <div class="smiles-bunch">
                          <i class="em em---1"></i>
                          <i class="em em-smiley"></i>
                          <i class="em em-anguished"></i>
                          <i class="em em-laughing"></i>
                          <i class="em em-angry"></i>
                          <i class="em em-astonished"></i>
                          <i class="em em-blush"></i>
                          <i class="em em-disappointed"></i>
                          <i class="em em-worried"></i>
                          <i class="em em-kissing_heart"></i>
                          <i class="em em-rage"></i>
                          <i class="em em-stuck_out_tongue"></i>
                        </div>
                      </div>

                      <button type="submit"></button>
                    </form>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- The Scrolling Modal image with comment -->

<script src="assets/js/main.min.js"></script>
<script src="assets/js/jquery-stories.js"></script>
<script src="assets/js/toast-notificatons.js"></script>
<!--<script src="../../../cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenMax.min.js"></script>&lt;!&ndash; For timeline slide show &ndash;&gt;-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8c55_YHLvDHGACkQscgbGLtLRdxBDCfI"></script><!-- for location picker map -->
<script src="assets/js/locationpicker.jquery.js"></script><!-- for loaction picker map -->
<script src="assets/js/map-init.js"></script><!-- map initilasition -->
<script src="assets/js/page-tourintro.js"></script>
<script src="assets/js/page-tour-init.js"></script>
<script src="assets/js/script.js"></script>
<script>
  jQuery(document).ready(function($) {

    $('#us3').locationpicker({
      location: {
        latitude: -8.681013,
        longitude: 115.23506410000005
      },
      radius: 0,
      inputBinding: {
        latitudeInput: $('#us3-lat'),
        longitudeInput: $('#us3-lon'),
        radiusInput: $('#us3-radius'),
        locationNameInput: $('#us3-address')
      },
      enableAutocomplete: true,
      onchanged: function (currentLocation, radius, isMarkerDropped) {
        // Uncomment line below to show alert on each Location Changed event
        //alert("Location changed. New location (" + currentLocation.latitude + ", " + currentLocation.longitude + ")");
      }
    });

    if ($.isFunction($.fn.toast)) {
      $.toast({
        heading: 'Welcome To Pitnik',
        text: '',
        showHideTransition: 'slide',
        icon: 'success',
        loaderBg: '#fa6342',
        position: 'bottom-right',
        hideAfter: 3000,
      });

      $.toast({
        heading: 'Information',
        text: 'Now you can full demo of pitnik and hope you like',
        showHideTransition: 'slide',
        icon: 'info',
        hideAfter: 5000,
        loaderBg: '#fa6342',
        position: 'bottom-right',
      });
      $.toast({
        heading: 'Support & Help',
        text: 'Report any <a href="#">issues</a> by email',
        showHideTransition: 'fade',
        icon: 'error',
        hideAfter: 7000,
        loaderBg: '#fa6342',
        position: 'bottom-right',
      });
    }

  });
</script>

